{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}

{% block content %}

<h4>Enter the following details:</h4>
	<form method="post", class="form-group">
		<label for="flight_num">Flight Number:<br></label>
  <input type="text" id="flight_num" name="flight_num" required><br>

  <label for="city_source">City Source:<br></label>
  <input type="text" id="city_source" name="city_source" required><br>

  <label for="city_dest">city_destination<br></label>
  <input type="text" id="city_dest" name="city_dest" required><br>

  <label for="num_seats">Number of seats:<br></label>
  <input type="text" id="num_seats" name="num_seats" required><br>

  <label for="date_dept">Departure Dtae:<br></label>
  <input type="date" id="date_dept" name="date_dept" required><br>

      <label for="time_dept">Departure Time:<br></label>
  <input type="time" id="time_dept" name="time_dept" required><br>

  <label for="date_arrival">Arrival Date:<br></label>
  <input type="date" id="date_arrival" name="date_arrival" required><br>

      <label for="time_arrival">Arrival Time:<br></label>
  <input type="time" id="time_arrival" name="time_arrival" required><br>

      <label for="time_duration">Total time duration:<br></label>
  <input type="text" id="time_duration" name="time_duration" required><br>

  <label for="price">Price:<br></label>
  <input type="price" id="price" name="price" required><br>

<input type="submit" value="Submit" >

</form>
{% endblock %}
