{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}


{% block content %}
  <h4>Select Flight:</h4>
	<form  method="post">
    <table class=.table-responsive>
  <tr>
    <th>S.no.</th>
    <th>Flights</th>
    </tr>
    <tr>
      <td></td>
    <td>
    <div class="flights" >
  <button name="flights" type="submit">
    <br>
    Flight Number:<input>
    <br>
    <div class="flight_detail">
    Source:<input>
    <br>
  </div>
  <div class="flight_detail">
    Destination:<input>
    <br>
    </div>
    <div class="flight_details">
    Departure Time:<input>
    <br>
  </div>
  <div class="flight_details">
    Arrival Time:<input>
    <br>
    </div>
    <br>
    Price:<input>
  </button>
  </div>
  </td>
 </form>
{% endblock %}