{% extends 'base.html' %}
{% block stl %}
    <style type="text/css">
        .container .row .flight_button {
            background-color: white;
        }

        .container .row .flight_button:hover {
            background-color: #ffe5b4;
            color: white;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://source.unsplash.com/1400x300/?emails" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
        </div>
    </div>

    <h1 class="mytrip-heading">My Trips:</h1>
    <br>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered display-1">
                <thead class="hi">
                    <tr>
                        <th class="col-xs-8">Booking date</th>
                        <th class="col-xs-8">Flight Number</th>
                        <th class="col-xs-2">Source</th>
                        <th class="col-xs-2">Destination</th>
                        <th class="col-xs-2">Departure</th>
                        <th class="col-xs-2">Arrival</th>
                        <th class="col-xs-2">Seats Booked</th>
                        <th class="col-xs-2">Total Price</th>
                        <th class="col-xs-2">Remove Detail</th>
                    </tr>
                </thead>
                <tbody>
                {% for booking_details,flight in result %}
                    <tr>
                        <td class="col-xs-2">{{ booking_details.date.strftime("%d/%m/%Y ") }}</td>
                        <td class="col-xs-8">{{ flight.flight_no }}</td>
                        <td class="col-xs-2">{{ flight.city_source }}</td>
                        <td class="col-xs-2">{{ flight.city_destination }}</td>
                        <td class="col-xs-2">{{ flight.date_dept.strftime("%d/%m/%Y ") }}{{ flight.time_dept }}</td>
                        <td class="col-xs-2">{{ flight.date_arrival.strftime("%d/%m/%Y ") }}{{ flight.time_arrival }}</td>
                        <td class="col-xs-8">{{ booking_details.seats }}</td>
                        <td class="col-xs-2">{{ (booking_details.seats)*flight.price }}</td>
                        <td class="col-xs-2"><a href="/delete/{{ booking_details.id }}" class="btn btn-outline-danger btn-sm">Cancel</a></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
{% endblock %}
