{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}

{% block content %}
<div class=sign_up>
<form class="user_detail" method="post">
  <h4>Enter the following details:</h4>
  <div class="name">
  <label for="fname">First name:<br></label>
  <input type="text" id="fname" name="fname" required><br>
  </div>
  <div class="name">
  <label for="mname">Middle name:<br></label>
  <input type="text" id="mname" name="mname"><br> 
  </div>

  <div class="name">
  <label for="lname">Last name:<br></label>
  <input type="text" id="lname" name="lname" required><br>
  </div>

    <div id="gender">Gender:<br>    
    <input list="sex" name="user_sex" required>
    <datalist id="sex">
        <option value="Male"></option>
        <option value="Female"></option>
        <option value="Others"></option>
    </datalist>
    </div>
    <br>

  <div class=name>
  <label for="phone">Phone:<br></label>
  <input type="text" id="phone" name="phone" required><br>
  </div>

  <div class=name>
  <label for="email">Email:<br></label>
  <input type="email" id="email" name="email" required><br>
  </div>

  <div class=name>
  <label for="adhaar">Adhaar Number:<br></label>
  <input type="text" id="adhaar" name="adhaar" required><br>
  </div>
 
  <div class=credentials> 
  <label for="userID">User ID:<br></label>
  <input type="text" id="userID" name="userID" required><br>
  </div>
 
  <div class=credentials>
  <label for="password1">Password:<br></label>
  <input type="password" id="password1" name="password1" required><br>
  </div>
  <div class=credentials>
  <label for="password2">confirm Password:<br></label>
  <input type="password" id="password2" name="password2" required><br>
  </div>
  <div id="register">
  <input type="submit" style="float:right" value="Submit" >
  </div>

</form>

</div>

  </div>

  </aside>
{% endblock %}