.mr-2 {
    margin-right: 20px;
  }

.marlef{
  margin-left: 327.5590551181px;
  margin-right: 327.5590551181px;
}

.form1 {
  width: 500px;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.navbar-brand{
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  font-size: 36px;
  background: -webkit-radial-gradient( rgb(0, 162, 255), rgb(255, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.passenger-heading{
  margin-bottom: 20px ;
  margin-top: 100px;
	background-color: #f2f2f2;
	text-align: center;
  font-weight: 800;
  font-family: 'Kaushan Script', cursive;
  font-size: 48px;
  background-image: radial-gradient(rgb(0, 132, 255) 5%, rgb(0, 68, 255) 15%, rgb(0, 0, 0) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutus-heading{
  margin-bottom: 20px ;
  margin-top: 20px;
	background-color: #f2f2f2;
	text-align: center;
  font-weight: 800;
  font-family: 'Kaushan Script', cursive;
  font-size: 54px;
  background-image: radial-gradient(rgb(0, 132, 255) 5%, rgb(0, 68, 255) 15%, rgb(0, 0, 0) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flight-heading{
  margin-bottom: 20px ;
  margin-top: 20px;
	background-color: #f2f2f2;
	text-align: center;
  font-weight: 800;
  font-family: 'Kaushan Script', cursive;
  font-size: 48px;
  background-image: radial-gradient(rgb(0, 132, 255) 5%, rgb(0, 68, 255) 15%, rgb(0, 0, 0) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.input-group-text
{
   font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: regular;
}

.home-heading {
  margin-bottom: 20px ;
	background-color: #f2f2f2;
	text-align: center;
  font-weight: 800;
  font-family: 'Kaushan Script', cursive;
  font-size: 48px;
  background-image: radial-gradient(rgb(0, 132, 255) 5%, rgb(0, 68, 255) 25%, rgb(0, 0, 0) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mytrip-heading {
  margin-bottom: 20px ;
  margin-top: 60px;
	background-color: #f2f2f2;
	text-align: center;
  font-weight: 800;
  font-family: 'Kaushan Script', cursive;
  font-size: 48px;
  background-image: radial-gradient(rgb(0, 132, 255) 5%, rgb(0, 68, 255) 15%, rgb(0, 0, 0) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-heading {
  margin-bottom: 20px ;
  margin-top: 20px;
	background-color: #f2f2f2;
  font-family: 'Arvo', serif;
  text-align: center;
  font-weight: 800;
  font-family: 'Kaushan Script', cursive;
  font-size: 48px;
  background-image: radial-gradient(rgb(0, 132, 255) 5%, rgb(0, 68, 255) 25%, rgb(0, 0, 0) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-container {
  text-align: center;
}

table.dataTable tbody tr.odd.selected {
  background-color:#acbad4
 }
  
 table.dataTable tbody tr.even.selected {
  background-color:#acbad5
 }

.fly{
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-left: 0px;
}

.contact-material {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 75;
}

.btn-grad {background-image: linear-gradient(to right, #000428 0%, #004e92  51%, #000428  100%)}
.btn-grad {
   margin: auto;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   color: #fff;
   background-size: 200% auto;           
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 }

 table,
 th,
 td {
   border: 0px ;
   border-collapse: collapse;
   text-align: center;
   color: white;
   font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: lighter;
 }
 

 
 td {
   padding: 0px;
   color: #000000;
 }
 
 table {
   border-spacing: 0px;
   background-color: rgb(255, 255, 255);
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
   width: 100%
 }
 
 #hello {
   color: red;
 }
 
 .hi {
  background-image: radial-gradient(circle, rgb(13, 125, 253), rgb(0, 0, 0));
 }

 .zoom {
  padding: 50px;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 15px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 15px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}

.flight_button{
  width: 1000px;
}

.fa {
  color: red;
}

.email-label{
  font-family: 'Open Sans', sans-serif;
}